html {
    margin: 0px 25px;
    /*This will be able to be customized.*/
    background-color: lightgrey;
    background-image: url("./images/AZ_1.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}

body {
    margin: 25px 50px;
    /*This will be able to be customized.*/
    background-color: lightgrey;
    opacity: 100%;
}

header {
    background-color: #8ab9ff;
    color: white;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: #5689cc;
    color: white;
    font-size: 16px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    margin: 0px 10px;
    float: right;
}

li a {
    display: block;
    color: white;
    padding: 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #beebff;
    color: black;
}


/*
a#about {
    visibility: hidden;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #5689cc;
    width: 150px;
    border-radius: 4px;
    padding: 10px 0;
    z-index: 1;
}

a#about:hover {
    visibility: visible;
}
*/

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: inherit;
    font-size: 42px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: justified;
    background-color: #beebff;
    color: black;
    margin: 20px 20px;
}

p#warn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justified;
    background-color: #8ab9ff;
    color: black;
    margin: 20px 20px;
}

#top {
    color: black;
    padding: 8px;
    text-align: right;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 10px;
}

footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 10px 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    background-color: #beebff;
    color: white;
}

flex-box {
    display: absolute;
    margin: auto 10px;
}

#frame {
    width: 100%;
    height: 75%;
    border-radius: 8px;
    border-color: magenta;
}

#top-section {
    background-color: #8ab9ff;
    border-radius: 4px;
    width: 100%;
    height: 308px;
    margin: 10px 0px;
}


/**Animation for transitioning the frame theme

clock,
container-fluid,
btn-grp {
    transition: all .3s ease-in-out;
}
*/

span {
    width: 100%;
    height: 50px;
    margin: 10px 0px;
}

#row.container-fluid {
    background-color: #b0d1d1;
    text-align: center;
    width: 95%;
    height: 75px;
    margin: 15px 20px;
    border-radius: 4px;
    box-shadow: 8px 8px 8px 0px #537172;
}

#time.container-fluid {
    background-color: #b0d1d1;
    text-align: center;
    width: 95%;
    height: 175px;
    margin: 0px 20px;
    border-radius: 4px;
    box-shadow: 8px 8px 8px 0px #537172;
}

#mainSection.container-fluid {
    background-color: #b0d1d1;
    text-align: center;
    width: 95%;
    height: 350px;
    margin: 12px 20px;
    border-radius: 4px;
    box-shadow: 8px 8px 8px 0px #537172;
}

#buttons.container-fluid {
    background-color: #8ab9ff;
    text-align: left;
    width: 100%;
    height: 150px;
    margin: 10px 0px;
    border-radius: 4px;
}

#bott.container-fluid {
    background-color: black;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

#span-grp {
    margin: 10px 20px;
}

#row {
    width: 100%;
    height: 75px;
    margin: 15px 10px;
}

#time {
    width: 100%;
    height: 100px;
    margin: 15px 10px;
    border-radius: 4px;
}

#hours {
    background-color: #beebff;
    text-align: center;
}

#mins {
    background-color: #beebff;
    text-align: center;
}

#sec {
    background-color: #beebff;
    text-align: center;
}

#hrsCnt {
    background-color: #beebff;
    text-align: center;
    margin: 10px 0px;
    width: 33.3333%;
    height: 85%;
}

#mnCnt {
    background-color: #beebff;
    text-align: center;
    margin: 10px 0px;
    width: 33.3333%;
    height: 85%;
}

#secCnt {
    background-color: #beebff;
    text-align: center;
    margin: 10px 0px;
    width: 33.3333%;
    height: 85%;
    text-align: center;
}

btn-grp {
    background-color: #80a0a0;
    text-align: center;
    margin: 10px 15px;
    border-radius: 4px;
}

btn-grp:hover {
    background-color: #b0d1d1;
    text-align: center;
    margin: 10px 15px;
    border-radius: 4px;
}

#count0 {
    background-color: #beebff;
    text-align: center;
    margin: 10px 0px;
}

#count1 {
    background-color: #beebff;
    text-align: center;
    margin: 10px 0px;
}

#count2 {
    background-color: #beebff;
    text-align: center;
    margin: 10px 0px;
}

#count3 {
    background-color: #beebff;
    text-align: center;
    margin: 25px 0px;
    border-radius: 4px;
    width: 100%;
    height: 50%;
}

#count4 {
    background-color: #beebff;
    text-align: center;
    margin: 25px 0px;
    border-radius: 4px;
    width: 100%;
    height: 50%;
}

#count5 {
    background-color: #beebff;
    text-align: center;
    margin: 25px 0px;
    border-radius: 4px;
    width: 100%;
    height: 50%;
}