body,
html {
    margin: 25px 50px;
    /*This will be able to be customized.*/
    background-color: lightgrey;
}

header {
    background-color: #8ab9ff;
    color: white;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: #5689cc;
    color: white;
    font-size: 16px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    margin: 0px 10px;
    float: right;
}

li a {
    display: block;
    color: white;
    padding: 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #beebff;
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#top {
    color: black;
    padding: 16px;
    text-align: left;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 10px;
}

footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 10px 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    background-color: #beebff;
    color: white;
}

app-frame {
    border-radius: 50px;
    border-color: magenta;
}

.clock {
    background-color: #537172;
    border-radius: 50px;
}


/**Animation for transitioning the frame theme*/

.clock,
app-frame,
btn-grp {
    transition: all .3s ease-in-out;
}

#clock-box {
    background-color: #b0d1d1;
    text-align: center;
}